<!DOCTYPE html>
<html>
<head>
  <title>Mike Mertens x <%= full_title(yield(:title)) %></title>

  <meta name="description" content="I'm a NYC based product strategist with a focus on ideation and wireframing, interaction design, growth strategies, roadmapping, user research and testing." />
  <meta name="keywords" content="Hand-Crafted Product Strategy, User Experience, User Interface, Interactive, Startup, Lean, UFO, Mike Mertens, Michael Mertens, New York, San Francisco, Mertens" />


  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/zfv7fgx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

	<%= render 'layouts/header' %>

	<div id="content">
	<%= yield %>
	<%= render 'layouts/footer' %>
	</div>

</body>
</html>
